{% extends 'base.html' %}
{% block main_content %}

    <main>
        <div class="empty-space"></div>
        <h2><i class="fa-solid fa-heart"></i> My Favorites</h2>
        <div class="response-container announces-tags">

        </div>

        {% if not favorites %}
            <!-- If no result/ no items-->
            <div class="no-result"><h1>No Favorite Cards Found</h1></div>
        {% else %}
            <div class="recommend-card space-between" id="recommend-card">
                {% for f in favorites %}

                    <a class="link-card" href="{% url 'card-details' pk=f.card.pk %}">
                        <ul class="border-card">
                            <div class="all-info-card">
                                <img src="{{ f.card.image.url }}" class="image-card" alt="Card Image">

                                <div class="group-price-status">
                                    <li class="price-card">{{ f.card.price }}</li>
                                    <li class="status-card">Liked</li>
                                </div>
                                <li class="title-card">{{ f.card.title }}</li>
                                <ul class="seller-info">
                                    <img src="{{ f.card.owner.profile.get_profile_picture_url }}" class="seller-image"
                                         alt="Seller Image">
                                    <div class="seller-contact">
                                        <li class="seller-name">{{ f.card.owner.profile.first_name }}</li>
                                        <li class="seller-time-publication">{{ f.card.created_at }}</li>
                                    </div>
                                </ul>
                            </div>
                        </ul>
                    </a>
                        <form method="post" action="{% url 'remove_from_favorites' f.card.id %}">
                    <span>
                {% csrf_token %}
                <button class="cancel-btn" type="submit"> Dislike </button>
                    </span>
                        </form>
                    

                {% endfor %}
            </div>
        {% endif %}




        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </main>
{% endblock %}