{% extends 'base.html' %}
{% block main_content %}
<body>
    

    <div class="container-below-navbar">

    
        <form action="{% url 'register' %}" id="registration-form" class="form-container" method="post">
            <h1 class="reg-title">Registration</h1>
            
           {{ form }}
          
            
            
            <button type="submit" class="submit-button">Registration</button>
            {% csrf_token %}
            
            <div class="signin">
                <p> Already have an account?<a href="#"> Sign in</a></p>
            </div>
        </form>

    </div>
{% endblock %}