<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="" >
    <link rel="stylesheet" href="../CSS/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project2 My card site</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<header>
    <div class="all-navigation">
        <div class="conteiner">
            <a href="#" id="logo" class="nav-link logo" title="Best Football Card Collectibles">BFCC</a>
            <div class="couple-search-top">
                <input class="search-box" type="text" placeholder="Search card...">
                <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <nav id="navbar" class="navbar-conteiner nav-link">
            <a href="#" class="navbar-item nav-link" id="home" title="Home"><i class="fa-solid fa-house"></i></a>

            <!-- If you havent profile -->
            <a href="#" class="navbar-item nav-link" id="login">Login</a>

            <!-- If you HAVE profile  -->
            <a href="#" class="navbar-item nav-link" id="my-favorite-card" title="Favorite Card"><i class="fa-solid fa-heart"></i></a>
            <a href="#" class="navbar-item nav-link" id="message" title="Message"><i class="fa-solid fa-envelope"> <span class="message-icon-notification">3</span> </i></a>

            <a href="#" class="navbar-item nav-link" id="my-profile" title="Profile"><!--<i class="fa-solid fa-circle-user"></i>--> <img class="navbar-profile-picture" src="https://cdn.pixabay.com/photo/2016/11/23/01/11/animal-1851634_640.jpg"> </a>
            <a href="#" class="navbar-item nav-link" id="upload"><i title="Upload" class="fa-solid fa-arrow-up-from-bracket"></i> Upload</a>    
            </nav>
        </div>
    </div>
</header>
<body>
    <div class="empty-space1 noselect"></div>

    <div class="bg-w-profile edit-window"> 
        <h3> <i class="fa-solid fa-circle-user"></i> Account Setings</h3>
        <form method="post">
            <div class="all-form-area">
                <div class="avatar-area">
                    <div class="avatar file-upload-img">
                        <img src="https://cdn.pixabay.com/photo/2023/04/30/04/29/anime-7959691_640.jpg">
                    </div>
                    <div class="cont-av-btn">
                        <div class="avatar-buttons">
                            <button class="avatar-change-btn"><i class="fa-regular fa-image"></i> Change</button>
                            <button class="avatar-delete-btn"><i class="fa-regular fa-trash-can"></i> Delete</button>
                        </div>  
                    </div>
                </div>
                <div class="account-info">
                    <div class="collum-1">
                        <div class="gr-form-acc">
                            <label class="">First Name</label>
                            <input type="text" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">Last Name</label>
                            <input type="text" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">Username</label>
                            <input type="text" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">Email</label>
                            <input type="email" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">Phone Number</label>
                            <input type="number" class="">
                        </div>
                        
                        
                    </div>
                    <div class="collum-2">
                        <div class="gr-form-acc">
                            <label class="">Address</label>
                            <input type="text" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">Description</label>
                            <textarea class="textarea-box" type="textarea" id="" name="" rows="8" cols="30"></textarea>
                        </div>
                        
    
                    </div>
                    <div class="collum-3">
                        <div class="gr-form-acc">
                            <label class="">Password</label>
                            <input type="password" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label class="">New Password</label>
                            <input type="password" class="">
                        </div>
                        <div class="gr-form-acc">
                            <label >Delete an account</label>
                            <input class="delete-account" type="password" class="">
                        </div>

                    </div>
                    
        
                </div>
                <div> 
                    <a class="for-profile-btn  for-edit-profile"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>

                </div>

                <div class="finish-buttons">
                    <button class="cancel-btn">Cancel</button>
                    <button type="submit" class="update-btn">Update</button>
                </div>
                
            </div>
           
       
        </form>
        


    </div>
    

   


    
</body>
<footer>
    <div class="footer-all-content">
        <div class="f-logo-social">
            <a class="footer-logo" href="#" title="Best Football Card Collectibles">Best Football Card Collectibles</a>
            <p>Nesciunt inventore, officiis assumenda nulla sapiente fugiat! Soluta architecto pariatur incidunt alias!</p>
            <aside class="social-media">
                <a href="#"><i title="Facebook" class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i title="GitHub" class="fa-brands fa-github"></i></a>
                <a href="#"><i title="Discord" class="fa-brands fa-discord"></i></i></a>
                <a href="#"><i title="YouTube" class="fa-brands fa-youtube"></i></i></a>
            </aside>
        </div>
        <div class="footer-links">
            <div class="discover">
                <span>Discover</span>
                <a href="#">Popular Cards</a>
            </div>
            <div class="community">
                <span>Community</span>
                <a href="#">Blog</a>
                <a href="#">Forum</a>
                <a href="#">Creators</a>
            </div>
            <div class="about">
                <span>About</span>
                <a href="#">About Us</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
    
</footer>
<p class="copyright">&copy; 2024</p>


<script src="../JS/script.js"></script>

</html>