{% extends 'base.html' %}
{% block main_content %}

<main>
    <div class="empty-space"></div>
    <div class="specific-tags"> 
        <div class="subcategories">
            <a href="#" class="special-subcategories">Football</a>
            <a href="#">Wrestling</a>
            <a href="#">Comics</a>
            <a href="#">Anime</a>
            <a href="#">Singer</a>
        </div>
        <select class="sort" name="sorting" id="sort">
            <option value="Newest" selected >Newest</option>
            <option value="Oldest">Oldest</option>
            <option value="Cheapest">Cheapest</option>
            <option value="Most expensive">Most expensive</option>
            <option value="By default">By default<option>
        </select>
    </div>
    <div class="response-container announces-tags">
        <p> <a>Football</a>  Announcements</p>
    </div>

    <div class="recommend-card" id="recommend-card">
        <!-- If no result/ no items-->
        <div class="no-result"><h1>No Result</h1></div>
         
         <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2023/12/08/23/46/cat-8438334_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For Sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2017/03/13/10/31/monkey-2139295_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2017/03/13/10/31/monkey-2139295_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>


        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2017/03/13/10/31/monkey-2139295_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2020/07/21/01/33/cute-5424776_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2023/08/11/12/41/capuchin-8183528_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2020/07/21/01/33/cute-5424776_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>

        <a class="link-card" href="#">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="https://cdn.pixabay.com/photo/2023/08/11/12/41/capuchin-8183528_640.jpg" class="image-card" alt="Card Image">
                    <div class="group-price-status">
                        <li class="price-card">$767,98</li>
                        <li class="status-card">For sale</li>
                    </div>
                    <li class="title-card">Haaland Black edition 2024/2025 season</li>
                    <ul class="seller-info">
                            <img src="https://cdn.pixabay.com/photo/2023/10/19/21/08/ai-generated-8327632_640.jpg" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">Liliq</li>
                                <li class="seller-time-publication">20.11 14:55</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>
       
    </div>

    <div class="all-pag-num">
        <div class="pagination-arrow-left pag-num"> &lt; </div>
        <div class="pagination-number-left pag-num">1</div>
        <div class="pagination-number-center pag-num">2</div>
        <div class="pagination-number-right pag-num">3</div>
        <div class="pagination-arrow-right pag-num"> &gt; </div>
    </div>
</main>
{% endblock %}