{% extends 'base.html' %}
{% block main_content %}

<main>
    <div class="empty-space"></div>
    <div class="response-container announces-tags">
        <p> </p>
    </div>

    {% if not cards%}
        <!-- If no result/ no items-->
        <div class="no-result"><h1>No Result</h1></div>
        {% else %}
        <div class="recommend-card space-between" id="recommend-card">   

         {% for card in cards%}
         
         <a class="link-card" href="{% url 'card-approve' pk=card.pk %}">
            <ul class="border-card">
                <div class="all-info-card">
                    <img src="{{ card.image.url }}" class="image-card" alt="Card Image">

                    <div class="group-price-status">
                        <li class="price-card">{{ card.price }}</li>
                        <li class="status-card">For Sale</li>
                    </div>
                    <li class="title-card">{{ card.title }}</li>
                    <ul class="seller-info">
                            <img src="{{ card.owner.profile.get_profile_picture_url }}" class="seller-image" alt="Seller Image">
                            <div class="seller-contact">
                                <li class="seller-name">{{ card.owner.profile.first_name}}</li>
                                <li class="seller-time-publication">{{ card.created_at }}</li>
                            </div>
                    </ul>
                </div>
            </ul>
        </a>
          
     {% endfor %}
        </div>
    {% endif %}
       



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>
</main>
{% endblock %}