<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href= >
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project2 My card site</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
 {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<header>
    <div class="all-navigation">
        <div class="container">
            <a href="{% url 'index' %}" id="logo" class="nav-link logo" title="Best Football Card Collectibles">BFCC</a>
            <div class="couple-search-top">
                <input class="search-box" type="text" placeholder="Search card...">
                <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <nav id="navbar" class="navbar-container nav-link">
            <a href="#" class="navbar-item nav-link" id="home" title="Home"><i class="fa-solid fa-house"></i></a>

            <!-- If you don't have a profile -->
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}" class="navbar-item nav-link" id="login">Login</a>
                {% else %}
            <!-- If you HAVE profile  -->
                     <form action="{% url 'logout' %}" method="post" class="navbar-item nav-link" id="logout-form">
                        {% csrf_token %}
                    <button type="submit" class="custom-button">Logout</button>
    </form>
            <a href="#" class="navbar-item nav-link" id="my-favorite-card" title="Favorite Card"><i class="fa-solid fa-heart"></i></a>
            <a href="#" class="navbar-item nav-link" id="message" title="Message"><i class="fa-solid fa-envelope"> <span class="message-icon-notification">3</span> </i></a>

            <a href="{% url 'details' %}" class="navbar-item nav-link" id="my-profile" title="Profile"><img class="navbar-profile-picture" src="{{ user.profile.get_profile_picture_url }}"> </a>
            <a href="{% url 'add-card' %}" class="navbar-item nav-link" id="upload"><i title="Upload" class="fa-solid fa-arrow-up-from-bracket"></i> Upload</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>

 {% block main_content %}
 {% endblock %}

<footer>
    <div class="footer-all-content">
        <div class="f-logo-social">
            <a class="footer-logo" href="#" title="Best Football Card Collectibles">Best Football Card Collectibles</a>
            <p>Nesciunt inventore, officiis assumenda nulla sapiente fugiat! Soluta architecto pariatur incidunt alias!</p>
            <aside class="social-media">
                <a href="#"><i title="Facebook" class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i title="GitHub" class="fa-brands fa-github"></i></a>
                <a href="#"><i title="Discord" class="fa-brands fa-discord"></i></a>
                <a href="#"><i title="YouTube" class="fa-brands fa-youtube"></i></a>
            </aside>
        </div>
        <div class="footer-links">
            <div class="discover">
                <span>Discover</span>
                <a href="#">Popular Cards</a>
            </div>
            <div class="community">
                <span>Community</span>
                <a href="#">Blog</a>
                <a href="#">Forum</a>
                <a href="#">Creators</a>
            </div>
            <div class="about">
                <span>About</span>
                <a href="#">About Us</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
    
</footer>
<p class="copyright">&copy; 2024</p>


<script src="/static/js/script.js"></script>

</html>