{% extends 'base.html' %}
{% block main_content %}
<main>

    <div class="container-below-navbar">
        <form action="{% url 'card-delete' pk=card.pk %}" class="form-container" method="post" enctype="multipart/form-data">
            {{ form }}
            <h1>Do you really want to permanently delete:</h1>
            <h3>{{ card.title }}</h3>
            <button type="submit" class="submit-button">Delete</button>
            {% csrf_token %}
        
        </form>
    </div>
</main>
{% endblock %}
