/*Buttons*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    flex-shrink: 0;
}

.generic-tags,
.specific-tags {
    background-color: #EFF0F1;
    margin: auto;
}

.specific-tags {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
}


.genre a {
    background-color: rgb(235, 236, 240);
    border-radius: 20px;
    padding: 7px 12px;
    transition: ease-in-out 0.2s;
    color: rgb(25, 27, 38);
}

.genre a:hover {
    background-color: rgb(219, 220, 226);;
}

.subcategories a, .sort {
    border-radius: 7px;
    border: solid 1px rgb(181, 179, 179);
    padding: 5px 10px;
    transition: ease 0.1s;
    color: rgb(25, 27, 38);

}

.subcategories a:hover, .sort:hover {
    border: solid 1px rgb(61, 59, 59);
}

.genre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.subcategories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sort {
    border-radius: 20px;
    align-self: flex-start;
}
